<h1>Login</h1>

<form action="/api/auth/login" method="POST">
<div>
    <label for="email">Email</label>
    <input value="ezdoogi@gmail.com" type="email" id="email" name="email" required="true">
</div>
<div>
    <label for="password">Password</label>
    <input value="123" type="password" id="password" name="password" required="true">
</div>
<button type="submit">Login</button>
</form>
<a href="/api/auth/register">Register</a>